doctype html
include ../includes/head.jade
body
    include ../includes/header.jade
    include ../includes/onStartText.jade
    .refresher(onclick="location.reload();") Reset
    include ../includes/intro.jade
    include ../includes/colorChooser.jade
    include ../includes/grid.jade
    include ../includes/viewBox.jade
    include ../includes/codeBox.jade
