doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Pixelator by @elrumordelaluz
    link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
    link(href="css/screen.css", media="screen, projection", rel="stylesheet", type="text/css")

  body
    header#header.start
      h1.page-title
        | Pixel
        span Art
      h3.page-subtitle
        | by
        a(href="http://www.twitter.com/elrumordelaluz") @elrumordelaluz
      a.twitter-share-button(href="https://twitter.com/share", data-url="http://lab.elrumordelaluz.com/pixelator/", data-text="Make easy one-element css3 box-shadow PixelArt with pixelator", data-via="elrumordelaluz", data-count="none", data-hashtags="pixelator") Tweet
      iframe#gh(src="http://ghbtns.com/github-btn.html?user=elrumordelaluz&repo=pixelator&type=fork", allowtransparency="true", frameborder="0", scrolling="0", width="53", height="20")
    #initials.start
      p.init-title Initial settings
      form(onsubmit="return init();")
        label(for="setcol") Colums:
        input#setcol(type="text", value="20")
        label(for="setrow") Rows:
        input#setrow(type="text", value="20")
        label(for="setrow") Pixel size:
        input#setpixel(type="text", value="5", onchange="handleChange(this)")
        input#settings(type="submit", value="Create Grid & Start!")
      a#help-opener(href="javascript:void(0)") Need help?
      #help.help
        p
          | With this simple tool you could generate pixelArt one-element css box-shadow following these few steps:
        ol
          li
            | 1. Simply create a grid depending on your needs and set the pixel size for the output. Then toggle the panels (left, right and bottom).
          li
            | 2. On the left side, set some color presets. You could add up to 13 and manage it just clicking on the number or triggering the numbero on the keyboard (only from 1 to 9).
          li 3. On the right side, preview your one-element box-shadow generated.
          li 4. On the bottom you could copy the CSS generated code.
          p
            | This is a beta release. Hope you enjoy it and appreciate your comments to improve this tool.
          a(href="http://twitter.com/elrumordelaluz") @elrumordelaluz
    .refresher(onclick="location.reload();") Reset
    #stp1.intro.step1.start
      h1.page-title
        | Pixel
        span ator
      h3.page-subtitle box-shadow pixel generator
    #stp2.intro.step2.start
      h3.page-subtitle 1. Start setting the grid of pixels you want.
    #stp3.intro.step3.start
      h3.page-subtitle
        | 2. Add and manage color presets by clicking on the numbers or just triggering the keyboard number (only 1-9).
    #stp4.intro.step4.start
      h3.page-subtitle 3. Always you can preview it in real scale.
    #stp5.intro.step5.start
      h3.page-subtitle 4. Then, you could copy the generated CSS code.
    input#open-ps.opener(type="checkbox", name="open-ps")
    label#openpresets.start(for="open-ps")
    aside#ps.presets.start
      #presets
        h3.ps-title
          | Presets
          button#add-ps(onclick="addPreset()") +
        #actualcolor Color selected
        div
          button#select-1(onclick="selectPreset(this)") 1
          input#preset-1.color(type="text", name="preset-1", value="#1abc9c")
        div
          button#select-2(onclick="selectPreset(this)") 2
          input#preset-2.color(type="text", name="preset-2", value="#3498db")
        div
          button#select-3(onclick="selectPreset(this)") 3
          input#preset-3.color(type="text", name="preset-3", value="#9b59b6")
        div
          button#select-4(onclick="selectPreset(this)") 4
          input#preset-4.color(type="text", name="preset-4", value="#e74c3c")
        div
          button#select-5(onclick="selectPreset(this)") 5
          input#preset-5.color(type="text", name="preset-5", value="#f39c12")
    section.main
      #init
    input#open-pr.opener(type="checkbox", name="open-pr")
    label#openpreview(for="open-pr")
    aside#preview.preview.start
      #result
      form(action="http://codepen.io/pen/define", method="POST", target="_blank")
        input#cdpn-data(type="hidden", name="data")
        input#codepen.codepen(type="submit", onclick="_gaq.push(['_trackEvent', 'Codepen', 'publish']);", value="view on Codepen")
    input#open-code.opener(type="checkbox", name="open-code")
    label#opencode.start(for="open-code")
    section#cd.code.start
      textarea#code
    // Scripts
    script(type="text/javascript", src="js/prefixfree.min.js")
    script(type="text/javascript", src="js/jscolor/jscolor.js")
    script(type="text/javascript", src="js/main.js")
