head
    meta(charset="UTF-8")
    title Pixelator by @elrumordelaluz
    link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
    link(href="css/screen.css", media="screen, projection", rel="stylesheet", type="text/css")
    script(type="text/javascript", src="js/prefixfree.min.js" async)
    script(type="text/javascript", src="js/jscolor/jscolor.js" async)
    script(type="text/javascript", src="js/main.js" async)