header#header.start
  h1.page-title
    | Pixel
    span Art
  h3.page-subtitle
    | by
    a(href="http://www.twitter.com/elrumordelaluz") @elrumordelaluz
  a.twitter-share-button(href="https://twitter.com/share", data-url="http://lab.elrumordelaluz.com/pixelator/", data-text="Make easy one-element css3 box-shadow PixelArt with pixelator", data-via="elrumordelaluz", data-count="none", data-hashtags="pixelator") Tweet
  iframe#gh(src="http://ghbtns.com/github-btn.html?user=elrumordelaluz&repo=pixelator&type=fork", allowtransparency="true", frameborder="0", scrolling="0", width="53", height="20")
