#stp1.intro.step1.start
      h1.page-title
        | Pixel
        span ator
      h3.page-subtitle box-shadow pixel generator
    #stp2.intro.step2.start
      h3.page-subtitle
        | 1. Start setting the grid of pixels you want.
    #stp3.intro.step3.start
      h3.page-subtitle
        | 2. Add and manage color presets by clicking on the numbers or just triggering the keyboard number (only 1-9).
    #stp4.intro.step4.start
      h3.page-subtitle 3. Always you can preview it in real scale.
    #stp5.intro.step5.start
      h3.page-subtitle 4. Then, you could copy the generated CSS code.
